* {
	box-sizing: border-box;
}
:root {
	/* Primary colors */
	--dark-cyan: hsl(185, 75%, 39%);
	--very-dark-blue: hsl(229, 23%, 23%);
	--gray-blue: hsl(227, 10%, 46%);
	/* Neutral  */
	--dark-gray: hsl(0, 0%, 59%);
}

body {
	margin: 0;
	padding: 0;
	min-height: 100vh;
	height: 100%;
	min-height: 100vh;
	background: var(--dark-cyan) no-repeat fixed;
	font-size: 18px;
	font-family: "Kumbh Sans", sans-serif;
}

.wrapper {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;

	overflow: hidden;
	background: #19a2ae;
	z-index: -1;
}
.wrapper:before,
.wrapper:after {
	position: absolute;
	content: "";
	width: 100vw;
	height: 100vh;

	transform: translate(-50%, -50%);
	z-index: -1;
}

.wrapper:before {
	top: 0;
	left: 0;
	background: url("../images/bg-pattern-top.svg") no-repeat bottom right;
}

.wrapper:after {
	top: 100%;
	left: 100%;
	background: url("../images/bg-pattern-bottom.svg") no-repeat top left;
}
.card-container {
	flex-grow: 1;
	padding: 1rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: white;
	border-radius: 1rem;
	position: relative;
	top: 0;
	left: 0;

	box-shadow: -1px 2px 8px 6px var(--dark-cyan);
}
.bg-top {
	width: 100%;
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
}
.profile-img {
	background-color: white;
	border-radius: 3rem;
	position: relative;
	align-items: center;
	display: flex;
	justify-content: flex-start;
}
.img-person {
	border-radius: 3rem;
	margin-top: -3rem;
	box-shadow: 0 0 0 0.5rem #fff;
}
.header {
	padding: 1rem 0;
}
.header h1 {
	font-size: 1.25rem;
}
.city {
	font-size: 0.875rem;
}
.age,
.city,
.stats p.desc {
	color: var(--dark-gray);
	font-weight: 400;
	text-align: center;
}
.profile-details {
	text-align: center;
	border-bottom: #ccc 0.2px solid;
	width: 100%;
}
.stats-details {
	display: inline;
}
.stats {
	text-align: center;
	display: inline-block;
	padding: 1rem;
}
.stats p.desc {
	font-size: 0.715rem;
	letter-spacing: 0.1rem;
}
.stats p.figures {
	font-size: 1.2rem;
	font-weight: 700;
	margin-bottom: 0;
}
